rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    match /properties/{allPaths=**} {
      allow read: if true;
      allow write, delete: if request.auth != null &&
        request.auth.token.email == 'sergio.sulemane@gmail.com';
    }
  }
}
